/* footer.css */
footer {
    background-color: #333;
    color: #aaa;
    padding: 40px 20px;
    font-size: 14px;
}

footer .layout {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

/* footer.css */
.footer-sections {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;

}

.footer-section {
    flex: 1;  /* This ensures each section takes equal space */
    padding: 0 20px;
}

footer h3 {
    color: #fff;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer .footer-info {
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

footer .footer-info strong {
    font-size: 18px;
    font-family: Noto Sans;
    color: green;
}
