/* /css/styles.css */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 기본적인 레이아웃 스타일 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.layout{
  width: 1000px;
  margin: 0 auto;
  justify-content: center;
}



select {
  color: #676d7e;
  border: 1px solid #b9becb;
  background-color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;

}


[type=checkbox] select {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  width: inherit;
  margin: 0
}

[type=checkbox]+label:before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  vertical-align: text-top;
  width: 22px;
  height: 22px;
  background: #e6ecf1;
  border-radius: 6px;
  border: 1px solid #d9e0e6
}

[type=checkbox]+label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: #282b33;
  font-weight: 400
}

[type=checkbox]:checked+label:before {
  background: #1570ff;
  border: 1px solid #1570ff
}

[type=checkbox]:checked+label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 11px;
  background: #e6ecf1;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0 0 #fff,2px 0 0 #fff,4px 0 0 #fff,4px -2px 0 #fff,4px -4px 0 #fff,4px -6px 0 #fff,4px -8px 0 #fff,4px -10px 0 #fff;
  transform: rotate(45deg)
}











